body {
  margin: 0;
  font-family: arial;
}

.header {
  overflow: hidden;
  background-color: #ffffff;
  padding: 10px;
  width: 900px;
}

.header a {
  color: #bdc3c7;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 10px;
  line-height: 25px;
  border-radius: 4px;
}

.header div.logo {
  font-size: 12px;
  text-align: center;
  padding: 12px;
  float: left;
  line-height: 25px;
  border-radius: 4px;
  padding-left: 60px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header-right {
  float: right;
  text-align: center;
  padding: 12px;
  padding-right: 60px;
  line-height: 25px;
  border-radius: 4px;
}

.lawyer {
  min-height: 455px;
  width: 900px;
  position: relative;
  background-image: url(lawyer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lawyer img {
  max-width:100%;
  max-height:100%;
}

.searchbox {
  background-color: #0B3B59;
  top: 87px;
  left: 65px;
  width: 180px;
  height: 225px;
  position: absolute;
  color: #FFFFFF;
  padding: 27px;
}

.searchbox p {
  margin: 6px;
  font-size: 9px;
}

.searchbox h1 {
  margin: 6px;
  font-size: 20px;

  font-weight: normal;
  line-height: 95%;
}

.oneliner {
  color: #F2CE16;
  font-style: italic;
  font-weight: bold;
}

.search {
  background-color: #E4EAED;
  width: 180px;
  height: 35px;
  margin-top: 15px;
}

.button {
  background-color: #F2CE16;
  width: 105px;
  height: 30px;
  line-height: 30px;
  font-size: 10px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
}

.tf {
  border-spacing: 40px 10px;
}

.tf th {
  text-align: left;
  font-size: 10px;
}

.tf td {
  color: #797D7F;
  font-size: 9px;
}

.features {
  padding: 80px 0px;
  width: 900px;
}

.quote {
  text-align: center;
  height: 155px;
  padding-top: 80px;
  background-color: #F4F4F4;
  font-size: 11px;
  width: 900px;
}

.quote span{
  font-size: 10px;
}

.plans {
  position: relative;
  width: 900px;
}

.plansbg {
  background-image: url(glasses.png);
  filter: grayscale(1) opacity(0.3);
  min-height: 520px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.plans div.toptext {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translate(-50%);
  text-align: center;
}

.toptext h2{
  font-weight: normal;
  font-size: 15px;
  padding-top: 30px;
  padding-bottom: 5px;
  margin: 0px;
}

.toptext p {
  font-size:10px;
  color: #797D7F;
  margin: 0px;
}

.plansblock1 {
  position: absolute;
  top: 130px;
  left: 100px;
  text-align: center;
  background-color: white;
  height: 330px;
  width: 210px;
}

.plansblock2 {
  position: absolute;
  top: 130px;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
  background-color: white;
  height: 330px;
  width: 210px;
}

.plansblock3 {
  position: absolute;
  top: 130px;
  right: 100px;
  text-align: center;
  background-color: white;
  height: 330px;
  width: 210px;
}

.gridbg {
  position: absolute;
  top: 0px;
  background-image: url(grid.png);
  background-position: center;
  background-repeat: no-repeat;

  background-size: cover;
  filter: opacity(0.15);
  height: 330px;
  width: 200px;
}

.plans h3 {
  padding: 30px;
  font-size: 12px;
  font-weight: normal;
  margin: 0px;
}

.buyfeatures {
  font-size: 10px;
  line-height: 20px;
  margin: 0px;
}

.price {
  font-weight: normal;
  font-size: 20px;
}

.buynow {
  background-color: #0B3B59;
  margin: 0px 50px;
  line-height: 40px;
  color: #FFFFFF;
  font-size:10px;
}

.trial {
  background-color: #0D314C;
  height: 320px;
  position: relative;
  overflow: hidden;
  width: 900px;
}

.trialbg {
  height: 320px;
  background-image: url(notebook.jpg);
  filter: opacity(0.3) grayscale(1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.trialcontent {
  position: absolute;
  top: 100px;
  color: white;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
}

.trialcontent h3 {
  font-weight: normal;
  margin: 0px;
}

.trialcontent p {
  font-size: 11px;
  margin-bottom: 20px;
}

.trialcontent div.button {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 0px;
  width: 130px;
}

.trialcontent div.button p {
  margin: 0px;
}

.contacts {
  background-color: #1D2530;
  position: relative;
  height: 200px;
  width: 900px;
}

.contacts h2{
  position: absolute;
  top: 70px;
  margin: 0px;
  left: 50%;
  transform: translate(-50%);
  color: white;
  font-size: 13px;
  font-weight: normal;
}

.contacts p{
  position: absolute;
  top: 95px;
  margin: 0px;
  left: 50%;
  transform: translate(-50%);
  color: #D5D8DC;
  font-size: 10px;
}

.page2 {
  font-size: 50px;
  height: 600px;
}

.imgs {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%);
}
.imgs img {
  width: 20px;
  height: 20px;
  margin: 0px 10px;
}