.header {
  overflow: hidden;
  background-color: #ffffff;
  padding: 20px 10px;
}

.header a {
  color: #bdc3c7;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header div.logo {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 12px;
  float: left;
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header-right {
  float: right;
}
