body {
  margin: 0;
  font-family: sans-serif;
}

.header {
  overflow: hidden;
  background-color: #ffffff;
  padding: 10px;
}

.header a {
  color: #bdc3c7;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 10px;
  line-height: 25px;
  border-radius: 4px;
}

.header div.logo {
  font-size: 12px;
  text-align: center;
  padding: 12px;
  float: left;
  line-height: 25px;
  border-radius: 4px;
  padding-left: 60px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header-right {
  float: right;
  text-align: center;
  padding: 12px;
  padding-right: 60px;
  line-height: 25px;
  border-radius: 4px;
}

.lawyer {
  min-height: 455px;
  position: relative;
  background-image: url(lawyer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lawyer img {
  max-width:100%;
  max-height:100%;
}

.searchbox {
  background-color: #154360;
  top: 87px;
  left: 65px;
  width: 180px;
  height: 225px;
  position: absolute;
  color: #FFFFFF;
  padding: 27px;
}

.searchbox p {
  margin: 6px;
  font-size: 9px;
}

.searchbox h1 {
  margin: 6px;
  font-size: 20px;

  font-weight: normal;
  line-height: 95%;
}

.oneliner {
  color: #F4D03F;
  font-style: italic;
  font-weight: bold;
}

.search {
  background-color: #ebf5fb;
  width: 180px;
  height: 35px;
  margin-top: 15px;
}
.button {
  background-color: #F4D03F;
  width: 105px;
  height: 30px;
  line-height: 30px;
  font-size: 10px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
}

.tf {
  border-spacing: 40px 10px;
}

.tf th {
  text-align: left;
  font-size: 10px;
}

.tf td {
  color: #797D7F;
  font-size: 9px;
}

.features {
  padding: 80px 35px;
}

.quote {
  text-align: center;
  height: 250px;
  padding-top: 100px;
  background-color: #f8f9f9;
}

.quote p{

}

.plans {
  position: relative;

}

.plansbg {
  background-image: url(glasses.png);
  filter: grayscale(1) opacity(0.3);
  min-height: 500px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.plans div.toptext {
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%);
  text-align: center;
}

.plansblock1 {
  position: absolute;
  top: 200px;
  left: 200px;
  text-align: center;
  background-color: #ffffff;
}

.plansblock2 {
  position: absolute;
  top: 200px;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
  background-color: #ffffff;
}

.plansblock3 {
  position: absolute;
  top: 200px;
  right: 200px;
  text-align: center;
  background-color: #ffffff;
}

.trial {
  position: relative;
  overflow: hidden;
  height: 600px;
  background-image: url(notebook.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.contacts {
  background-color: #283747;
  position: relative;
  height: 400px;
  width: 100%;
}

.contacts h2{
  position: absolute;
  top: 100px;
}

.contacts p{
  position: absolute;
  top: 200px;
}

.page2 {
  font-size: 50px;
  height: 600px;
}